@font-face {
  font-family: 'ResourceHanRoundedCN Medium';
  src: url('https://now.bdstatic.com/stash/v1/5249c21/soundMyst/0ca7f11/carzyfarm/ResourceHanRoundedCN-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  /* 强制使用浅色模式，防止浏览器暗色模式自动适配 */
  color-scheme: light;
}

body {
  font-family: 'ResourceHanRoundedCN Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* 确保背景色和文字颜色明确指定，防止暗色模式影响 */
  background-color: #fff;
  color: #000;
}
