.gradient-button {
  width: auto;
  height: auto;
  padding: 4px 16px;
  border: none;
  border-radius: 999px;
  background: linear-gradient(to bottom, #F6F8FC, #E7ECF7);
  color: #000;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 1px 2px 0 #00000025;
  box-sizing: border-box;
}

.gradient-button:hover:not(:disabled) {
  opacity: 0.8;
}

.gradient-button:active:not(:disabled) {
  opacity: 0.6;
}

.gradient-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
