.svg-text-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.svg-text {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.svg-text-placeholder {
  display: inline-block;
}

